{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="jumbotron text-center">
        <h1 class="display-4 jumbotron-heading">Welcome to Durak Game</h1>
        <p class="lead">Experience the classic Russian card game online. Play now and test your skills against players around the world!</p>
        <a href="{{ url_for('main.play') }}" class="btn btn-primary btn-lg" role="button">Play Now</a>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>How to Play</h2>
            <p>Durak is a classic Russian card game where the objective is to get rid of all your cards. The last player with cards is the "Durak" (fool).</p>
        </div>
        <div class="col-md-4">
            <h2>Features</h2>
            <ul>
                <li>Multiplayer Mode</li>
                <li>AI Opponents</li>
                <li>Customizable Decks</li>
                <li>Leaderboards</li>
            </ul>
        </div>
        <div class="col-md-4">
            <h2>Testimonials</h2>
            <p>"This game brings back so many memories! Love playing Durak online." - User A</p>
            <p>"Fantastic implementation of the classic game. Highly recommend!" - User B</p>
        </div>
    </div>
    <button onclick="topFunction()" id="goTopBtn" title="Go to top"><i class="fas fa-arrow-up"></i></button>
{% endblock %}
